<div class='container'>
  <h2>Pokah</h2>
  <ul class="list-inline">
    <li>{{#link-to 'index' }}Home{{/link-to}}</li>
    <li>{{#link-to 'tables' }}Tables{{/link-to}}</li>
    <li>{{#link-to 'sign-up' }}Sign Up{{/link-to}}</li>
  </ul>

  {{outlet}}
</div>
